include README.md
include LICENSE
include CHANGELOG.md
recursive-include src/qsolve/data *
recursive-include docs *
recursive-include examples *.py *.ipynb
recursive-exclude * __pycache__
recursive-exclude * *.py[co]